* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 10, 20, 1);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding: 10px; */
    /* background-color: rgba(255, 255, 255, 0.1); */
    border-radius: 250px;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
    background-color: white;
    width: max-content;
}

.nav-menu.collapse {
    background-color: transparent;
}

.nav-menu-list {
    margin-right: 5px;
    /* background-color: white; */
    transition: transform ease-in-out 0.6s, opacity ease-in-out 0.5s;
}

.nav-menu-list.collapse {
    transform: translateX(-100%);
    opacity: 0;
}

.fas {
    /* margin: 2px; */
    padding: 15px;
    font-size: 22px;
    color: rgba(150, 50, 150, 1);
    border-radius: 100%;
}

.fas:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.fa-bars {
    background-color: rgba(150, 50, 150, 1);
    color: white;
    padding: 20px;
    margin-right: 5px;
    border-radius: 0%;
    z-index: 1;
    transition: all ease-in-out 0.3s;
}

.fa-bars.collapse {
    border-radius: 100%;
    background-color: white;
    margin-right: 0px;
    color: rgba(150, 50, 150, 1);
}

.fa-bars:hover {
    background: rgba(150, 50, 150, 1);
    color: white;
}

.fa-bars.collapse:hover {
    color: rgba(150, 50, 150, 1);
    background-color: white;
}