    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: cursive;
    }
    
    body {
        /* background: rgba(235, 235, 235, 0.8); */
        background-color: rgb(0, 10, 20);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .clock-container {
        background-color: white;
        width: 250px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.4);
    }
    
    .panel {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .battery-percentage {
        font-weight: 600;
    }
    
    .battery-icon {
        margin-left: 2px;
        transform: scale(1.5);
    }
    
    .analog-clock {
        overflow: hidden;
        position: relative;
        width: 200px;
        height: 200px;
        /* border: 2px solid black; */
        border-radius: 100%;
        /* box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5); */
    }
    
    .dot {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 12px;
        height: 12px;
        background-color: white;
        border: 2px solid black;
        border-radius: 50%;
        z-index: 10;
    }
    
    .hour-hand,
    .minute-hand,
    .second-hand {
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        margin: auto;
        width: 5px;
        height: 35%;
        background-color: black;
        transform-origin: bottom center;
        /* transform: rotate(40deg); */
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
    }
    
    .minute-hand {
        margin: auto;
        top: 5%;
        width: 3px;
        height: 45%;
        /* transform: rotate(120deg); */
    }
    
    .second-hand {
        top: 20%;
        width: 2px;
        height: 30%;
        background-color: red;
        /* transform: rotate(180deg); */
    }
    
    .digital-clock {
        margin-bottom: 50px;
        text-align: center;
    }
    
    .time-stamp {
        display: flex;
    }
    
    .time-stamp span {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    
    h1 {
        font-size: 30px;
        letter-spacing: 3px;
        padding: 5px;
    }
    
    p {
        font-size: 11px;
        padding: 5px;
        color: rgba(20, 20, 20, 0.8);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }